* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu";
}


.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}

#navbar{
  position: fixed;
  display: flex;
  align-items: center;
  background-color: white;
  width: 100%;
  padding: 2vw 0;
  justify-content: space-between;
  z-index: 5;
}
#main{
  width: 100%;
  height: 100vh;
  margin:  0;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav-part2{
  display: flex;
  gap: 2vw
}

.nav-part2 li{
  font-size: 1.4vw;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  decoration: none;
}

.nav-part2 li a{
  text-decoration: none; 
  color: black;
  decoration:none;
  transform: translateY(-50);
  transition: transform 2s;
  margin-right: 6vw
}

#nav-bottom{
  height: 0%;
  position: absolute;
  width: 100%;
  bottom: 0%;
  border-bottom: 2px solid #dadada;
  transition: 0.5s all ease;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: white;
  z-index: 5;
}

.bottom-div:nth-child(1){
  margin-left: 26vw;
}
.bottom-div:nth-child(2){
  margin-left: 6vw;
}
.bottom-div:nth-child(3){
  margin-left: 4vw;
}
.bottom-div:nth-child(4){
  margin-left: 4vw;
}

.bottom-div h5 span{
  font-weight: 500;
  font-size: 0.7vw;
  display: none;
}


#navbar:hover  #nav-bottom{
  height: 100%;
  bottom: -100%;
}
#navbar:hover .bottom-div h5 span {
  display: block;
}


.nav-part2 img {
  display: none;
}
.page1{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10% 10% 0 10%;
}


.name{
  font-family:"Ubuntu";
  font-weight: 800;
  font-size: 3vw;
}

.main-element-of-page1{
  font-family: "Ubuntu";
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3vw;
  color: #f43e65;
  letter-spacing: 0px;
  
}


.name2{
  font-family:"Ubuntu";
  font-weight: 800;
  font-size: 3vw;
}


.img-in-page1{
  display: flex;
  justify-content: center;
}


img{
  display: flex;
  justify-content: center;
  width: 50%;
  position: absolute;
  top: 30%;
  right: 0;
  transform: translateY(-50%);
  transition: transform 2s;
}

.para{
  justify-content: center;
  display: flex;
  font-family: "Ubuntu";
  font-weight: 500;
  margin-top: 2vw;
}

.button-parent{
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-left: 12vmax;
}

.btn{
  height: 50px;
  width: 150px;
  border-radius: 100px;
  background-color:#8F04FF;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Ubuntu";
  font-weight: 500;
  color: white;
  transition: 2s;
}


.btn a{
  color: white;
  text-decoration: none;
  text-transform: uppercase
}

.btn:hover{
  transform: scale(1.5);
  background-color: #A94EF3;
}

.img-in-page1-for-mobile {
  display: none;
}

.transition-svg{  
  aspect-ratio: 900/600;
  display:flex;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width:100%;
  justify-content: center;
  align-items: center;
}
.layer1{
  background-image: url('/layered-waves-haikeisvg.svg')
}

.page2{
  height: 150vh;
  width: 100%;
}

.blob-HTML{
  background-image: url('/blob.svg');
  aspect-ratio: 960/600;
  width: 100%;
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-items: center;
  justify-content: center;
}

.HTML-services{
  color: #fff;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  letter-spacing: 2px;
}

.CSS-blob {
  background-image: url('/blob-CSS.svg');
  aspect-ratio: 960/600;
  width: 100%;
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-items: center;
  justify-content: center;
}

.CSS-services {
  color: #fff;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  letter-spacing: 2px;
}

.JS-blob {
  background-image: url('/blob-JS.svg');
  aspect-ratio: 960/600;
  width: 100%;
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-items: center;
  justify-content: center;
}

.JS-services {
  color: #fff;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  letter-spacing: 2px;
}

.flip{
  transform: rotate(180deg);
  z-index: -1;
}

.page2 h1{
  color: #fff;
  z-index: 100000000000000000000000;
  background-color: #c62368;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-size: 100px
}
.transition-svg1 {
  aspect-ratio: 900/600;
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.page3{
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 10;
  align-items: center;
  width: 100%;
  height: 150em;
}

.main-text-in-page3 {
  display: flex;
  font-weight: 700;
  font-size: 90px;
  z-index: 100;
}

.skills-display-container{
  width: 25em;
  height: 5em;
  background-color: #C6ACAB;
  margin-top: 10vh;
  border: none;
  border-radius: 20px;
  padding: 2em;
  color: #ED6915;
}

.text-in-container-HTML {
  font-size: 40px;
}

.skill-display-container {
  width: 23em;
  height: 1em;
  background-color: #ffffff;
  border-radius: 50px;
  border: none;
  margin-top: 1em;
}


.main-skill-display {
  background-color: #ED6915;
  width: 22em;
  height: 1em;
  border-radius: 50px;
  animation: skillsProgressAnimation 5s;
}
@keyframes skillsProgressAnimation {
  from{
    width: 0%;
  }
  to{
    width: 22em;
  }
}

.text-of-skill-HTML {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 3em;
}

.main-text-of-skills-HTML {
  color: #FF5100;
  font-size: 60px;
}

.para-text-of-skills-HTML {
  font-size: 30px;
  margin-top: 0.5em;
}

.text-in-container-CSS {
  font-size: 40px;
}

.skills-display-container-CSS{
  width: 25em;
  height: 5em;
  background-color: #C6ACAB;
  margin-top: 10vh;
  border: none;
  border-radius: 20px;
  padding: 2em;
  color: #156DED;
}

.text-in-container-CSS {
  font-size: 40px;
}

.main-skill-display-CSS {
  background-color: #156DED;
  width: 18em;
  height: 1em;
  border-radius: 50px;
  animation: skillsProgressAnimation2 5s;
}
@keyframes skillsProgressAnimation2 {
  from{
    width: 0%;
  }
  to{
    width: 18em;
  }
}

.main-text-of-skills-CSS {
  color: #4E96FF;
  font-size: 60px;
}

.text-of-skill-CSS {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 3em;
}

.para-text-of-skills-CSS {
  font-size: 30px;
  margin-top: 0.5em;
}


.text-in-container-JS {
  font-size: 40px;
}

.skills-display-container-JS{
  width: 25em;
  height: 5em;
  background-color: #C6ACAB;
  margin-top: 10vh;
  border: none;
  border-radius: 20px;
  padding: 2em;
  color: #F0FF01;
}

.text-in-container-JS {
  font-size: 40px;
}

.main-skill-display-JS {
  background-color: #F0FF01;
  width: 7em;
  height: 1em;
  border-radius: 50px;
  animation: skillsProgressAnimation3 5s;
}
@keyframes skillsProgressAnimation3 {
  from{
    width: 0%;
  }
  to{
    width: 7em;
  }
}

.main-text-of-skills-JS {
  color: #FFB201;
  font-size: 60px;
}

.text-of-skill-JS {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 3em;
}

.para-text-of-skills-JS {
  font-size: 30px;
  margin-top: 0.5em;
}

.svg-transtion {
  aspect-ratio: 900/300;
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.layer3{
  background-image: url('/svgTransitionFromSkillsToExampleProjects.svg')
}

.page4 {
  background-color: #6637C2;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 60px;
}

.body-2{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
  width: 100%;
  height: 100%;
}

body::before{
  content: '';
  position: absolute;
  top: 450%;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#960097, #97000D);
  clip-path: circle(20% at right 70%);
}



body::after{
  content: '';
  position: absolute;
  top: 490%;
  left: 30%;
  width: 300px;
  height: 300px;
  background: linear-gradient(#009297, #510097);
  border-radius: 50%;
  z-index: -1;
}


.container-page-4 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  flex-wrap: wrap;
  z-index: 1;
}
.container-page-4 .card {
  position: relative;
  width: 280px;
  height: 400px;
  margin: 20px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
}

.container-page-4 .card .content-page4 {
  padding: 20px;
  text-align: center;
  transform: translateY(100px);
  transition: 0.5s;
  opacity: 0;
}

.container-page-4 .card:hover .content-page4 {
  transform: translateY(0px);
  opacity: 1;
}

.container-page-4 .card .content-page4 h1 {
  position: absolute;
  top: -80px;
  right: 30px;
  font-size: 8em;
  color: #979797;
  pointer-events: none;
}

.container-page-4 .card .content-page4 h3 {
  font-size: 1.8em;
  z-index: 1;
}
.container-page-4 .card .content-page4 p {
  font-size: 1em;
  font-weight: 300;
}

.container-page-4 .card .content-page4 a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  margin-top: 15px;
  background: #fff;
  color: #000;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 500;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}




@media (max-width:600px) {
  .page1{
    display: normal;
    justify-content: center;
    align-items: center;
    margin-top: 30vmin;
    height: 15vh
  }
  
  #navbar h1{
    font-size: 6vw;
    font-weight: 500;
    margin-left: 2vw;
  }
  
  .nav-part2 li{
    display: none;
  }
  
  .nav-part2 img{
    width: 20px;
    display: block;
    align-items: center;
    margin-top: 1vw;
    margin-right: 5vw;
    
  }
  #img1{
    display:none;
    justify-content: center;
    top: 0;
  }
  
  .name{
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-left: 0;
  }
  
  .main-element-of-page1{
    font-size: 4vw;
    display: flex;
    justify-content: center;
    font-weight: 400;
    margin-left: 0
  }
  
  #main-text{
    display: flex;
    justify-content: center;
  }
  
  
  .name2{
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-left: 0
  }
  
  .para{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
    font-family: "Ubuntu";
    font-weight: 300;
  }
  
  
  .button-parent{
    position: flex;
    justify-content: center;
    margin: 0;
  }
  
  .img-in-page1-for-mobile {
    display: flex;
    justify-content: center;
    margin: 0;
    top: 0;
  }
  #img2{
    display: flex;
    justify-content: center;
    margin: 0;
    position: absolute;
    top: 110%;
    right: 0%;
    width: 100%;
  }
  .transition-svg{
    margin-top: 100vw
  }
  
  .page2{
    height: 165vh;
  }
}
